* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: #020617;
    width: 320px;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.time-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.time-btn {
    background: #1e293b;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    width: 30%;
}

.time-btn.active {
    background: #22c55e;
}

.time-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#taskInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

#taskInput:disabled {
    opacity: 0.6;
}

.timer {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.progress {
    height: 100%;
    width: 100%;
    background: #22c55e;
    transition: width 0.5s linear;
}

.controls button {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
}

#startBtn {
    background: #22c55e;
}

#resetBtn {
    background: #ef4444;
}

#historyList {
    text-align: left;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

#historyList li {
    background: #1e293b;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 0.85rem;
}
